

{% extends "predict/base.html"%}
{% load crispy_forms_tags %}


{% load static %}

{% block content%}

<link rel="shortcut icon" type="image/ico" href="{% static 'predict/flame-logo.png'%}"/>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<div style="margin-top: 12vh;z-index: 100;width:100%;color:#F8F8F8;">
<script>
    AOS.init();
</script>


<style>
.scale-up:hover{
    transform:scale(1.015);
}

</style>

</div>



<div style="margin-top: 1vh;z-index: 100;width:100%;color:#F8F8F8;">
  
    

<style>
@media screen and (max-width: 1200px) {
    .section-header{
        font-size: 42px !important;
    }
    .brand-header{
        display:none !important;
    }
    .screen-hide{
        display: none;
    }
}
@media screen and (max-width: 994px) {
    #hero-text{
        font-size: 60px !important;
    }
    .shop-img{
        margin-left:0px !important;
        margin-right:0px !important;
        width: 100% !important;
    }
    .section-header{
        font-size: 32px !important;
    }
    .brand-header{
        display:none !important;
    }
}

.shadow-effect {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 12px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}




</style>


<div style="margin-top: 1vh;z-index: 100;width:100%;color:#F8F8F8;
">

        <div class="row" style="height:78vh">

            <div class="col-lg-6" >
                    <u><h1 id="hero-text" style="margin-top:15vh;font-size:105px;color:#F8F8F8;margin-bottom:0px">FireBet.ai</h1></u>
                    <h1 style="font-size:27px;color:#F8F8F8;margin-bottom:10px">Machine Learning Sports Analytics</h1>                    
                    <a style="position: relative;width:110px;" href="/login/" class="btn btn-grey">  Login <i class="fas fa-sign-in-alt"> </i></a>
                    <a style="position: relative;width:110px;" href="/predict/faq" class="btn btn-grey-secondary" > About <i class="fas fa-question-circle"></i></a>
            </div>
            <div class="col-lg-6" style="margin-top:7vh;">
                <center>
                    
                    <img id="hero1" class="resp"style="border:none !important;margin-left:0;height:300px"src="{% static 'predict/tf.png'%}">

                    <img id="hero1" class="resp"style="border:none !important;height:350px;"src="{% static 'predict/nba-logo.png'%}">
        
            
                </center>
            </div>


        </div>


<div id="about"  style="position:absolute;margin-bottom: 0px;">

</div>

</div>
</div>

<br>
<br>
<script>

console.log("Sanity check!");

// Get Stripe publishable key
fetch("/config/")
.then((result) => { return result.json(); })
.then((data) => {
  // Initialize Stripe.js
  const stripe = Stripe(data.publicKey);

  // new
  // Event handler
  let submitBtn = document.getElementById("submitBtn");
  if (submitBtn !== null) {
    submitBtn.addEventListener("click", () => {
    // Get Checkout Session ID
    fetch("/create-checkout-session/")
      .then((result) => { return result.json(); })
      .then((data) => {
        console.log(data);
        // Redirect to Stripe Checkout
        return stripe.redirectToCheckout({sessionId: data.sessionId})
      })
      .then((res) => {
        console.log(res);
      });
    });
  }
});
</script>
<style>
.section-header,.brand-header,.btn, h1,h2,p{
    color:white !important;
}
@media screen and (max-width: 1200px) {
    #hero1,#trainmodel,#hero2{
        display: None;
    }
  .row{
    width: 100% !important;
    margin-right:0px;
    margin-left:0px;
    }

}
    .footer-btn{
    background-color:rgba(0,0,0,.1) !important

    }
     .footer-btn:hover{
    background-color:rgba(0,0,0,.2) !important

    }
    .scale-up{
          border: 1px solid rgba(198, 198, 198, 0.2);

    }
</style>

{{ eval.spreadCorrect|json_script:"scorrect" }}
{{ eval.spreadWrong|json_script:"swrong" }}


{{ eval.correct|json_script:"correct" }}
{{ eval.wrong|json_script:"wrong" }}

{{ eval.evMargin1|json_script:"evMargin1" }}
{{ eval.evMargin1wrong|json_script:"evMargin1wrong" }}

{{ eval.evMargin2|json_script:"evMargin2" }}
{{ eval.evMargin2wrong|json_script:"evMargin2wrong" }}

{{ eval.evMargin3|json_script:"evMargin3" }}
{{ eval.evMargin3wrong|json_script:"evMargin3wrong" }}




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script  src="{% static 'predict/homeStats.js'%}" defer></script>
<!-- Event snippet for nba-view conversion page -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11238259273"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11238259273');
</script>
<!-- Event snippet for nba-asdf conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-11238259273/RHTaCIfS7PwYEMn06O4p'});
</script>

{% endblock content %}



